.friends-box {
    display: flex;
    flex-direction: column;
}


.video-container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



/*  English journal page a.k.a. home page --- start point */
.journal-page-title {
    text-align: center;
}

hr { 
  background-color: rgb(0, 50, 98); 
  height: 4px; border: 0;
}


/*  English journal page a.k.a. home page --- end point */


/* on layout, app.blade.php, nav ber --- start point */
.navbar{
    background-color:#003262;
}
/* on layout, app.blade.php, nav ber --- end point */




.debate-grid {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows:  10% 30% 30% 30%;
    grid-auto-flow: row;
    /* grid-template-areas: 
        "video video topic"
        "video video  card"
        "output output card";*/
}


.time-zone {
    text-align: center;

}

.topic-box{
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-start: 1;
    grid-row-end:span 2;

}


.voice-output{
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 4;
    grid-row-end: 5;

}


.outline-box {
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: span 2;
    overflow-y: scroll;
    scroll-behavior: smooth;

}

.thesis-card{
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: span 2;
    overflow-y: scroll;
    scroll-behavior: smooth;

}







.friends-box {   
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: span 2;

}






.friends-box {
    margin-top: 10px;
    border: 1px solid rgba(169,169,169, 0.3);
    border-radius: 10px;
    border-width: thin;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-color: #003262;
}


.word-card {
    margin: 10px;
} 



/*topiccatalog page */

.topic-register{
    width: 60%;
}


.topic-register-btn{
    margin-top:20px
}


.category-list{
    
    overflow-x: auto;
    white-space: nowrap;
}

.category-list::-webkit-scrollbar {    display: none;}

.outline-box::-webkit-scrollbar {    display: none;}

.outline-forums{
    overflow-x: auto;
    white-space: nowrap;
}

.words-forums{
    overflow-x: auto;
    white-space: nowrap;
}
.words-forums::-webkit-scrollbar {    display: none;}


.outline-forums-user{
    overflow-x: auto;
    white-space: nowrap;
}
.outline-forums-user::-webkit-scrollbar {    display: none;}

.alert {
    display: inline-block;
    margin: 0 auto;
}