.friends-box {
    display: flex;
    flex-direction: column;
}


.video-container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



/*  English journal page a.k.a. home page --- start point */
.journal-page-title {
    text-align: center;
}

hr { 
  background-color: rgb(0, 50, 98); 
  height: 4px; border: 0;
}


/*  English journal page a.k.a. home page --- end point */


/* on layout, app.blade.php, nav ber --- start point */
.navbar{
    background-color:#003262;
}
/* on layout, app.blade.php, nav ber --- end point */




.debate-grid {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows:  10% 30% 30% 30%;
    grid-auto-flow: row;
    /* grid-template-areas: 
        "video video topic"
        "video video  card"
        "output output card";*/
}


.time-zone {
    text-align: center;

}

.topic-box{
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-start: 1;
    grid-row-end:span 2;

}


.voice-output{
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 4;
    grid-row-end: 5;

}


.outline-box {
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: span 2;
    overflow-y: scroll;
    scroll-behavior: smooth;

}

.thesis-card{
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: span 2;
    overflow-y: scroll;
    scroll-behavior: smooth;

}







.friends-box {   
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: span 2;

}






.friends-box {
    margin-top: 10px;
    border: 1px solid rgba(169,169,169, 0.3);
    border-radius: 10px;
    border-width: thin;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-color: #003262;
}


.word-card {
    margin: 10px;
} 



/*topiccatalog page */

.topic-register{
    width: 60%;
}


.topic-register-btn{
    margin-top:20px
}


.category-list{
    
    overflow-x: auto;
    white-space: nowrap;
}

.category-list::-webkit-scrollbar {    display: none;}

.outline-box::-webkit-scrollbar {    display: none;}

.outline-forums{
    overflow-x: auto;
    white-space: nowrap;
}

.words-forums{
    overflow-x: auto;
    white-space: nowrap;
}
.words-forums::-webkit-scrollbar {    display: none;}


.outline-forums-user{
    overflow-x: auto;
    white-space: nowrap;
}
.outline-forums-user::-webkit-scrollbar {    display: none;}

.alert {
    display: inline-block;
    margin: 0 auto;
}





/*ul*/
.lists 
{
    position: fixed;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    margin:0;
    padding:0;
    z-index: 1;
    
}
/*li = menues*/
.lists .menues 
{
    list-style:none;
    color: white;
}

.lists .menues  a
{
    display:block;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    background: #0403FF;
    width: 250px;
    color: white;
    margin: 4px 0;
    
    
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 0.7;
}

.lists .catalogs a 
{
    display:block;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    background: #1FDEFF;
    width: 250px;
    color: white;
    margin: 4px 0;
    
    
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 0.7;
}

.lists .elem a 
{
    display:block;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    background: #1FDEFF;
    width: 200px;
    color: white;
    margin: 4px 0;
    
    
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 0.7;
} 



ul li a:hover
{
    transform: scale(1.1);
}




#container-topic
{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;

}


#container-topic div#topic-register 
{
    position:relative;
    width: 100%;
    height: 100%;

}
#container-topic div#category-list
{
    position:relative;
    width: 100%;
    height: 100%;

}

/*'sports','politics', 'music', 'social issues','technology', 'education','others*/


#category-list .category-card-economy
{
    background:url('../storage/catalog/economy.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}


#category-list .category-card-sports
{
    background:url('../storage/catalog/sports.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#category-list .category-card-politics
{
    background:url('../storage/catalog/politics.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#category-list .category-card-music
{
    background:url('../storage/catalog/music.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#category-list .category-card-social_issues
{
    background:url('../storage/catalog/social.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#category-list .category-card-technology
{
    background:url('../storage/catalog/tech.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#category-list .category-card-technology
{
    background:url('../storage/catalog/tech.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#category-list .category-card-education
{
    background:url('../storage/catalog/education.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#category-list .category-card-others
{
    background:url('../storage/catalog/others.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}


#topic-register {
    text-align: center;
    margin: auto;
}

#category-list div h1
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Rock Salt', cursive;
    font-size: 150px;
    
}


#topic-list {
    text-align: center;
    margin: auto;
}

#topic-card{
    text-decoration: none;
}

#category-list div h1:after,
#category-list div h1:before {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	
}

#category-list div h1:before {
  border-left: 1px solid;
  border-right: 1px solid;
  -webkit-transform: scale(1,0);
	transform: scale(1,0);
}

#category-list div h1:after {
  border-bottom: 1px solid;
  border-top: 1px solid;
  -webkit-transform: scale(0,1);
	transform: scale(0,1);
}

#category-list div h1:hover:after,
#category-list div h1:hover:before {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}



.game {
    border : 2px solid #e5e5e5;
    border-radius: 25px;
}